/target/
.nvimlog
.local/
.env
.env.*
!.env.example
!examples/language/profiles/.env
!examples/language/profiles/.env.qa
!examples/language/profiles/.env.prod
!examples/language/project/.env
!examples/language/project/.env.qa
!examples/language/project/.env.prod
*.profraw
__pycache__/
*.py[cod]
.DS_Store
